.post-content p {
  text-align: justify;
}

.post-title {
  font-size: 1.5rem;
  text-align: right;
  margin-bottom: 5px;
}

.post-meta {
  text-align: right;
}

h1.main-title {
  margin: 0;
  padding: 1rem;
  font-size: 2.5rem;
  text-align: center;
}

.mt-wrapper {
margin-bottom: 6rem;
}

.fig {
  margin: auto;
}

.theorem {
  display: block;
  font-style: italic;
}
.theorem:before {
content: "Theorem. ";
font-weight: bold;
font-style: normal;
}
.theorem[text]:before, .ex[text]:before {
content: "Theorem (" attr(text) ") ";
}


.example {
  display: inline-block;
  font-style: normal;
}
.example:before {
  content: "Example ";
  font-weight: bold;
  font-style: normal;
}
.example[text]:before {
  content: "Example (" attr(text) ") ";
}

.def {
  display: inline-block;
  font-style: normal;
}
.def:before {
  content: "Definition ";
  font-weight: bold;
  font-style: normal;
}
.def[text]:before {
  content: "Definition (" attr(text) ") ";
}

.table {
  display: inline-block;
  font-style: normal;
}
.table:before {
  content: "Table ";
  font-weight: bold;
  font-style: normal;
}
.table[text]:before {
  content: "Table " attr(text) ": ";
}

.figure {
  display: block;
  font-style: normal;
  margin-bottom: 2rem;
}
p.figure {
  text-align: center;
}
.figure:before {
  content: "Figure ";
  font-weight: bold;
  font-style: normal;
}
.figure[text]:before {
  content: "Figure " attr(text) ": ";
}

.pulsate {
animation: pulsate 3s ease-out;
animation-iteration-count: infinite; 
opacity: 0.5;
}

@keyframes pulsate {
  0% { 
      opacity: 0.2;
  }
  50% { 
      opacity: 0.75;
  }
  100% { 
      opacity: 0.2;
  }
}

.post-content {
  h1,h2,h3,h4,h5 {
    a {
      animation: pulsate 6s ease-out;
      animation-iteration-count: infinite; 
      opacity: 0;
    }
  }
}